<%- include('./includes/head.ejs') %>
<div class="text-center">
    <h4 class="m-5">not found!!!</h4>
    <a class="btn btn-outline-info" href="/"
        >Back to Home!!
        <span class="fa fa-heart" style="color: red;"></span>
    </a>
</div>
    <%- include('./includes/footer.ejs') %>